header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: var(--DARK_TO_TRANSPARENT_HEADER);
  line-height: 1;
  padding-top: 1rem;

  .container>.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation button {
    padding: 0;
  }
  .navigation {
    padding: 0;
  }

  .flex>svg {

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  svg {
    background-color: transparent !important;
    width: 30px;
    height: 30px;

    @media screen and (max-width: 1023px) {
      height: 30px;
      width: 30px;
    }

    path {
      fill: var(--PRIMARY);
    }
  }
}

#mainTitle {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--LIGHT);
  font-size: .75rem;
  width: 100%;
  text-align: center;
}