#shop .grid {
display: grid;
height: auto;
grid-gap: 2rem;
justify-content: space-between; 
grid-template-rows: auto;

  @media screen and (max-width: 679px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 680px) and (max-width : 1023px) {
    grid-template-columns: repeat(2, minmax(300px, 400px));
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(300px, 400px));
  }

  input {
    margin: 0;
    border-radius: 0;
  }
}

.shop-card {
  box-shadow: 0 4px 4px var(--DARK);
  position: relative;
  height: 300px;
  transition: all .25s ;

  &:hover {
    box-shadow: 0 0 10px 5px var(--GRAY);
    scale: 1.01;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--DARK);
    color: var(--LIGHT);
    opacity: .80;
  }
}



/* panier heeader */
.input-count {
  height: 30px;
  box-shadow: 0 2px 2px var(--DARK);
  width: 50px;
  text-align: center;
  padding: 0;
}

.cart {
  background: none;
  box-shadow: none;
  width: 25px;
  margin: 0;
  padding: 0;

  * {
    fill: var(--DARK) !important;
  }
}


.zero {
  position: relative;
  
  &::before {
    content: 'indisponible';
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.sold-out {
  color: var(--GRAY);
  &::before {
    content: 'ℹ️';
    width: 100%;
    height: 100%;
    margin-right: .5rem;
  }
}