.cart-item {
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cart-item img {
    height: auto;
    width: 75px;

    object-fit: contain;
    object-position: left;
}

.cart-item .text {
    width: 100%;
    align-items: center;
    font-size: 1rem;
}

.cart-item .text p {
    line-height: 1.2;

    &.info {
        color: var(--GRAY);
        font-size: .7em;
        font-style: italic;
    }

    &.bold {
        font-weight: bold;
        font-size: 1.2em;
        padding-top: .25rem;
    }
}

.trash {
    background: url("../../../assets/icons/trash.svg") no-repeat center center, var(--PRIMARY);
    width: 30px;
    height: 30px;
    padding: 1rem;
    border: none;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }
}

