#articleDetail {
  .flex>div {
    margin: 0 1rem;
    flex: 1;
  }

  .images>img {
    border-radius: 4px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .colorWrapper {
    display: flex;
    align-items: center;

    >div {
      border: 2px solid var(--LIGHT);
      cursor: pointer;
      margin: 0 8px;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &.selected {
        box-shadow: 0 0 5px 5px var(--LIGHT);
      }
    }
  }

  #price {
    font-size: 3rem;
    font-family: 'Metal Mania';
    position: relative;

    &::after {
      content: '(* prix unitaire TTC)';
      font-size: .25em;
      font-family: initial;
      position: absolute;
      top: 100%;
      left: 0;
      display: block;
      width: max-content;
      height: max-content;
    }
  }
}