@import '/src/assets/styles/fonts.css';
@import '/src/assets/styles/animations.css';
@import '/src/assets/styles/colors.css';

/* RESET DEFAULT SETTINGS */
* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .3s;
}


/* SET DEFAULT SETTINGS */
html {
    scroll-behavior: smooth;
    min-height: 100vh;
    color: var(--DARK);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    letter-spacing: .1em;
}

body {
    background: var(--DARK);
    color: var(--LIGHT);
}

#root {
    overflow-x: hidden;
    position: relative;
}

.container {
    margin: auto;
    height: 100%;
    padding: 0 1rem;

    @media screen and (min-width: 1400px) {
        width: 1200px;
    }

    @media screen and (min-width: 1100px) and (max-width: 1399px) {
        width: 1100px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1099px) {
        width: 95%;
    }

    @media screen and (max-width: 1023px) {
        padding: 0;
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    .flex {
        display: flex;
        width: 100%;
        height: max-content;

        &.col {
            flex-direction: column;
        }

        &.justify-around {
            justify-content: space-around;
        }

        &.justify-between {
            justify-content: space-between;
        }

        &.justify-center {
            justify-content: center;
        }

        &.justify-start {
            justify-content: flex-start;
        }

        &.justify-end {
            justify-content: flex-end;
        }

        &.align-center {
            align-items: center;
        }

        &.align-start {
            align-items: flex-start;
        }

        &.align-end {
            align-items: flex-end;
        }
    }

    .inline-flex {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        flex-direction: column-reverse;
    }
}

/* modal */
.modalContainer {
    position: fixed;
    top: 100px;
    left: 1em;
    width: auto;
    height: auto;
    z-index: 10000;

    .modal {
        border-radius: .5em;
        position: relative;
        padding: .5rem 2rem .5rem 1rem;
        margin-bottom: .5rem;
        border: 2px solid;
        border-radius: 8px;
        position: relative;
        width: max-content;

        button {
            text-transform: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 12px;
            margin: 0;
            color: var(--DARK);
            border: none;
            background: none;
            color: inherit;
            z-index: 100;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: 0;
            animation: modalTimer 5s linear forwards;
        }

        &.success {
            border-color: var(--SUCCESS_DARK);
            color: var(--SUCCESS_DARK);
            background: var(--SUCCESS_LIGHT);

            &::after {
                background: var(--SUCCESS_DARK);
            }
        }

        &.error {
            border-color: var(--ERROR_DARK);
            color: var(--ERROR_DARK);
            background: var(--ERROR_LIGHT);

            &::after {
                background: var(--ERROR_DARK);
            }
        }
    }
}

