/* FONTS IMPORTS */
@font-face {
  font-family: 'Rock Salt';
  src: url("assets/fonts/Rock_Salt/RockSalt-Regular.ttf");
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: 'Metal Mania';
  src: url("assets/fonts/Metal_Mania/MetalMania-Regular.ttf");
}

/* COLORS */
:root {
  --LIGHT: #FFF;
  --DARK: #333333;
  --PRIMARY: #DAD178;
  --SUCCESS_LIGHT: lightgreen;
  --SUCCESS_DARK: darkgreen;
  --DANGER_LIGHT: lightcoral;
  --DANGER_DARK: darkred;
  --WARNING: #FFC107;
  --GRAY: #999999;


  --PRIMARUY: #FFDA22;
  --DARK: #000f08;
  --LIGHT: #F6F8FF;
  --GRAY: #77878B;

  /* gradients */

  --DARK_TO_TRANSPARENT: linear-gradient(180deg, var(--DARK), transparent);
  --DARK_TO_TRANSPARENT_HEADER: linear-gradient(180deg, var(--DARK) 10%, transparent 100%);
  --LIGHT_TO_TRANSPARENT: linear-gradient(180deg, var(--LIGHT), transparent);
  --PRIMARY_TO_TRANSPARENT: linear-gradient(0deg, var(--PRIMARY) 30%, transparent 100%);


  /* shadows */
  --INSET_SHADOW_DEFAULT: 0 0 10px 3px var(--LIGHT) inset;
  --INSET_SHADOW_DEFAULT_HOVER: 0 0 5px 5px var(--DARK) inset;
  --INSET_SHADOW_HEROBANNER: 0 0 5px 2px var(--LIGHT) inset;

  /* gradients */
}

/* RESET DEFAULT SETTINGS */
* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .3s;
}


/* SET DEFAULT SETTINGS */
html {
  scroll-behavior: smooth;
  min-height: 100vh;
  color: var(--DARK);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  letter-spacing: .1em;
}

body {
  background: var(--DARK);
  color: var(--LIGHT);
}

#root {
  position: relative;
}

.container {
  margin: auto;
  height: 100%;
  padding: 0 1rem;

  @media screen and (min-width: 1400px) {
    width: 1200px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1399px) {
    width: 1100px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1099px) {
    width: 95%;
  }

  @media screen and (max-width: 1023px) {
    padding: 0;
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .flex {
    display: flex;
    width: 100%;
    height: max-content;

    &.col {
      flex-direction: column;
    }

    &.justify-around {
      justify-content: space-around;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-center {
      justify-content: center;
    }

    &.justify-start {
      justify-content: flex-start;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.align-center {
      align-items: center;
    }

    &.align-start {
      align-items: flex-start;
    }

    &.align-end {
      align-items: flex-end;
    }
  }

  .inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-direction: column-reverse;
  }
}

.error {
  color: var(--DANGER);
  font-size: .9em;
  font-style: italic;

  &::before {
    content: '⛔️ ';
    font-style: normal;
  }
}

/* modal */
.modal {
  position: fixed;
  top: 100px;
  left: 0;
  width: auto;
  height: auto;
  /* background: white; */
  z-index: 10000;

  &>div {
    position: relative;
    padding: 1rem 2rem;
    margin-bottom: .5rem;
    border: 2px solid var(--dark);
    border-radius: 0 0rem 1rem 0 / 0 50% 50% 0;

    * {
      color: var(--DARK);
    }

    &.info,
    &.info button {
      background: var(--PRIMARY);
      border-color: darkgoldenrod;

      button {
        color: darkgoldenrod;
      }
    }

    &.success,
    &.success button {
      background: var(--SUCCESS_LIGHT);
      border-color: var(--SUCCESS_DARK);

      * {
        color: var(--SUCCESS_DARK);
      }
    }

    &.danger,
    &.danger button {
      background: var(--DANGER_LIGHT);
      border-color: var(--DANGER_DARK);

      * {
        color: var(--DANGER_DARK);
      }
    }

    button {
      position: absolute;
      right: -.5rem;
      top: -.5rem;
      background: inherit;
      color: var(--LIGHT);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      z-index: 100;
      border: none;
      padding: 0;
    }
  }
}