.flex {
  flex-wrap: wrap;
}

.country-card {
  height: 100px;
  text-align: center;
  position: relative;
  /* border: 1px solid; */
  border-radius: 5px;
  overflow: hidden;
  aspect-ratio: 3/2;
  margin: .5rem;

  &:hover .text {
    opacity: 1;
  }

  .text {
    font-size: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    transition: opacity .25s linear;

    * {
      color: var(--light);
      font-weight: normal;
    }
  }
}

.country-card {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.radio {
  display: inline-flex;

  li {
    padding: 1rem;

    input {
      margin-right: 4px;
      vertical-align: middle;
    }
  }
}

input[type="range"] {
  width: 250px;
}

