@font-face {
  font-family: 'Rock Salt';
  src: url("../fonts/Rock_Salt/RockSalt-Regular.ttf");
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url("../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf");
}