@import './fonts.css';
:root {
  --light: white;
  --dark: black;
  --primary: #DAD178;
}

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--dark);
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

p {
  line-height: 2;
}

.container {
  margin: auto;
  height: 100%;

  @media screen and (min-width: 1400px) {
    width: 1200px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1399px) {
    width: 1000px;
  }

  @media screen and (min-width: 768px) and (max-width: 1099px) {
    width: 90%;
  }

  @media screen and (max-width: 767px) {
    width: 95%;
  }
}

header {
  border-bottom: 2px solid;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: var(--dark);
}

footer {
  background: var(--dark);

  .flex {
    flex-wrap: nowrap;

    div {
      padding: 1rem;
      flex: 1;

      .navigation {
        flex-direction: column;
        align-items: flex-start;

        ul {
          flex-direction: column;
          flex-wrap: nowrap;

          li {
            padding: .5rem;
          }
        }
      }

      .section-title {
        font-size: 1rem;
        margin-bottom: .5rem;
      }
    }
  }
}


section {
  padding: 4rem 0;

  &:first-of-type {
    margin-top: 84px;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rock Salt';
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  ul {
    display: flex;
    justify-content: space-around;

    .active li {
      color: var(--primary);
    }

    li {
      padding: 1rem;
      color: var(--light);
      font-weight: bold;
    }
  }
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;

  &.col {
    flex-direction: column;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }
}

.inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column-reverse;
}

.CTA {
  box-shadow: 0 4px 4px var(--dark);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: var(--primary);
  font-weight: bold;
  margin: 1rem;
}




.social {
  text-align: center;

  img {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.section-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--primary);
  text-shadow: 0px 2px 0px var(--dark);
  font-size: 2rem;
  border-bottom: 1px solid var(--primary);
  /* text-transform: uppercase; */
  margin-bottom: 2rem;
  padding-bottom: .5rem;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  grid-auto-rows: 150px;
}



.social-links {
  display: inline-block;
  width: auto;
  height: auto;
}

svg {
  background: var(--dark);
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px var(--dark);
}


svg,
svg * {
  margin: 1rem;
  fill: var(--primary);
  transition: all .5s linear;
  overflow: hidden;
}

svg:hover *,
svg:hover {
  fill: var(--dark);
  background: var(--primary);
}

rect {
  fill: var(--primary) !important;
  width: 100%;
  height: 100%;
}