@import './fonts.css';

:root {
  --light: white;
  --dark: black;
  --primary: #DAD178;
}

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--dark);
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  height: 100%;
}

#root {
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


main {
  flex: 1;
}

p {
  line-height: 2;
}

.container {
  margin: auto;
  height: 100%;
  padding: 0 1rem;


  @media screen and (min-width: 1400px) {
    width: 1200px;
  }

  @media screen and (min-width: 1100px) and (max-width: 1399px) {
    width: 1100px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1099px) {
    width: 95%;
  }

  @media screen and (max-width: 1023px) {
    padding: 0;
    width: 90%;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  background: var(--dark);
  line-height: 1;

  .container>.flex {
    display: flex;
    justify-content: space-between;
  }

  .flex>svg {

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  svg {
    background-color: transparent !important;
    width: 40px;
    height: 40px;

    @media screen and (max-width: 1023px) {
      height: 30px;
      width: 30px;
    }

    path {
      fill: var(--primary);
    }
  }

  .navigation .menu {

    svg {
      display: none;
      position: absolute;
      top: 1.25rem;
      left: 2.1rem;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--dark);
      padding: 3rem 2rem;
      width: 50%;
      border: 1px solid var(--primary);
      z-index: 10;
      height: 100vh;
      justify-content: flex-start;
      transform: translateX(-100%);
      transition: transform .25s ease-in-out;


      li {
        padding: 1rem 1rem;
      }

      &.open {
        transform: translateX(0);
      }

      svg {
        display: block;
      }
    }
  }

  .navigation .cart-container {
    position: relative;
    justify-content: flex-end;

    svg {
      display: initial;
    }

    .article-count {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      text-align: center;
      aspect-ratio: 1/1;
      background: var(--primary);
      border-radius: 50%;
      line-height: 1;
      box-shadow: 0 0 5px var(--dark) inset;

      &.flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li,
    button {
      cursor: pointer;

    }
  }
}

footer {
  background: var(--dark);

  .flex {
    flex-wrap: nowrap;

    div {
      padding: 1rem;
      flex: 1;

      .navigation {
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: 1023px) {
          display: inline-block;
          width: auto;
        }

        .cart-container {
          display: none;
        }

        ul {
          flex-direction: column;
          flex-wrap: nowrap;

          li {
            padding: .5rem;
          }
        }
      }

      .section-title {
        font-size: 2rem;
        margin-bottom: .5rem;
      }
    }
  }
}


section {
  padding: 4rem 1rem;

  &:first-of-type {
    margin-top: 84px;

    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      margin-top: 162px;

    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rock Salt';
  font-family: 'Metal Mania';
}


.navigation {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-around;

    li .active{
      color: var(--primary)!important;
    }

    li,
    button {
      border: none;
      background: none;
      box-shadow: none;
      padding: 1rem;
      color: var(--light);
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;

      * {
        color: var(--light);
      }

      @media screen and (max-width: 1023px) {
        padding: .25rem;

      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .flex {
    display: flex;
    width: 100%;

    &.col {
      flex-direction: column;
    }

    &.justify-around {
      justify-content: space-around;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-center {
      justify-content: center;
    }

    &.justify-start {
      justify-content: flex-start;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.align-center {
      align-items: center;
    }

    &.align-start {
      align-items: flex-start;
    }

    &.align-end {
      align-items: flex-end;
    }
  }

  .inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-direction: column-reverse;
  }
}

.CTA {
  box-shadow: 0 4px 4px var(--dark);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 30px;
  background-color: var(--primary);
  font-weight: bold;
  margin: 1rem;
}

.social {
  text-align: center;

  img {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.section-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--primary);
  text-shadow: 0px 2px 0px var(--dark);
  font-size: 3rem;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 3rem;
  padding-bottom: .5rem;
}


#main-title {
  display: inline-block;
  width: auto;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;


  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    position: initial;
    width: 100%;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
  }

  h1.section-title {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

    @media screen and (min-width: 520px) and (max-width: 1024px) {
      font-size: 2rem;
    }

    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }
}

h1.section-title {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--light);
  font-size: 2.5rem;
  width: auto;

}


.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  grid-auto-rows: 150px;
}

.social-links {
  display: inline-block;
  width: auto;
  height: auto;
}

svg {
  background: var(--dark);
  width: auto;
  background: var(--light);
  border-radius: 50%;
  background: var(--primary);
  transition: all .25s linear;

  &:hover {
    background: var(--dark);

    path {
      fill: var(--primary);
    }
  }

  path {
    fill: var(--dark);
    margin: 1rem;
    transition: all .25s linear;
  }
}

.cart-total p {
  text-transform: uppercase;
  font-size: 2rem;
}

section .cart-total p {
  margin-top: 2rem;
}

.cart-item {
  box-shadow: 0 4px 4px var(--dark);
  margin: 1rem 0;
  padding: .5rem;

  h3.section-title {
    font-size: 1.5rem;
  }

  h4.section-title {
    margin: 0;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-size: 1.5rem;
    text-shadow: none;
    color: var(--dark);
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
}

.cart-background {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  left: 0;
  top: 0;
  padding: 3rem;
  background: rgba(0, 0, 0, .5);
  height: 100%;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(5px);
  padding: 0;
  z-index: 100;
  opacity: 1;
  transition: all .5s;


  /* display cart */
  .cart-content {
    background: var(--light);
    padding: 2rem;
    position: relative;
    opacity: 1;
    z-index: 100;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >.flex:first-of-type {
      flex: 1;
    }

    .flex {
      display: flex;

      &.justify-between {
        justify-content: space-between;
      }

      &.justify-center {
        justify-content: center;
      }

      &.col {
        flex-direction: column;
      }
    }

    @media screen and (min-width: 1024px) {
      border-radius: 5px 0 0 5px;
      max-width: 350px;
    }

    .close {
      position: absolute;
      top: 1.5rem;
      background: none;
      border: none;

      svg {
        background-color: transparent !important;

        path {
          fill: var(--dark) !important;
        }
      }



      @media screen and (min-width: 1024px) {
        right: 2rem;
      }

      @media screen and (max-width: 1023px) {
        right: 2rem;
      }


      svg {
        padding: 0;
        box-shadow: none;
        background: var(--primary);
        background: var(--dark);
        padding: .5rem;
        border-radius: 50%;
        width: 40px;
        height: 40px;

        @media screen and (max-width: 1023px) {
          height: 30px;
          width: 30px;
        }

        path {
          fill: var(--primary);
        }

        border: none;
        cursor: pointer;
      }
    }
  }

  &.hide {
    z-index: -10;
    background: rgba(0, 0, 0, 0);
    transition: background .5s, z-index 0s .5s;

    /* hide cart */
    .cart-content {
      transform: translateX(100%);
      transition: transform .5s ease-in-out;
    }
  }

  >div {
    flex: 1;
  }



  .cart-total {
    text-transform: uppercase;
    flex: 0;

    >p {
      width: 50%;

      &:last-of-type {
        text-align: right;
      }
    }

    a {
      align-self: center;
    }
  }
}

footer .mobile {
  display: none;
}

.mobile {
  background: transparent !important;
  border: none;
  padding: 1rem;
  display: inline-block;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.cart-button .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}