.youtube-card {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grid .youtube-card {
  display: inline-block;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .text * {
    font-size: 1rem;
    font-weight: normal;
  }
}

.grid.youtube {
  grid-auto-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  
  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}