footer {
  .flex {
    flex-wrap: nowrap;

    div {
      padding: 1rem;
      flex: 2;

      .sectionTitle {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        padding-left: .5rem;
        letter-spacing: .1em;
      }
    }
  }
}

#footer .navigation a {
  padding: 0;
}

.social {
  text-align: center;

  img {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.social-container .flex {
  flex-wrap: wrap;
  /* width: 300px; */
  /* width: auto; */
  flex: 1;
}

.social-links {
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 16px;
  margin-bottom: 16px;
}

svg {
  background: var(--PRIMARY);
  width: auto;
  border-radius: 50%;
  transition: all .25s linear;
  padding: 4px;
  
  rect {
    fill: transparent;
  }
  
  path {
    fill: var(--DARK);
    background: var(--PRIMARY);
    margin: 1rem;
    transition: all .25s linear;
  }
  
  &:hover {
    background: transparent;
    
    path {
      fill: var(--PRIMARY);
    }
  }
  
  &.reverse {
    background: var(--PRIMARY);
    background: transparent;
    padding: 0;
    
    path {
      fill: var(--DARK);
      fill: var(--PRIMARY);
    }

    &:hover {
      background: var(--PRIMARY);

      path {
        fill: transparent;
        fill: var(--DARK);
      }
    }
  }
}

#footer .mobileButtons {
  display: none;
}